# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build

on:
  push:
    branches:
    - main
    tags:
    - "**"
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.5'

    - name: Build
      run: go build -ldflags "-X main.Version=$(git describe --tags --abbrev=0) -X main.Revision=$(git rev-parse HEAD)" -v -o ./dist/ ./...

    - name: Release with Notes
      uses: softprops/action-gh-release@v2
      with:
        files: dist/*
        generate_release_notes: true
      if: github.ref_type == 'tag'
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
